.header-container {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  font-family: Yellowtail, cursive;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
